@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VAR BLOCK */
html {
--main-color: #18cfab;
--blue-color: #00cbf6;
--card-dark-color: #1c2a33;
}

body {
    min-width: 1200px;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

.header {
    height: 1012px;
    background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../src/backgrounds/section-1\(header\).jpg);
    background-size: cover;
    background-attachment: fixed;
}

.top-header {
    display: flex;
    background-color:rgba(0, 0, 0, 0.6);
    height: 120px;
    align-content: center;
}

.top-header .wrapper {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display:flex;
    align-self: center;
}

.top-menu {
    margin-right: 22px;
}

.logo-block {
    display: flex;
    align-items: center;
}

.logo-block a {
    text-decoration: none;
}

.logo {
    position: relative;
    width: 58px; 
    height: 33.49px;
    background-color: var(--main-color);
    margin: 16.74px 0;
}
  
.logo:before, .logo:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.logo:before {
    bottom: 100%;
    border-bottom: 16.74px solid var(--main-color);
}

.logo:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid var(--main-color);
}

.logo p {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    line-height: 0.78;
    color: #FFF;
    text-align: center;
}

.logo-text {
    font-family: 'Montserrat';  
    font-size: 31px;
    line-height: 2.08;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 8px;
}

.logo-text-part {
    color: #FFF;
}

.menu-link {
    position: relative;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover, .icon-search:hover {
    color: var(--main-color)
}

.menu-link:hover::after, .icon-search:hover::after {
    position: absolute;
    content: " ";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    bottom: -54px;
    left: 0;
}

.icon-search {
    color: #bbbbbb;
    text-decoration: none;
}

.header-section {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.title-point {
    color: var(--main-color);
}

.subtitle {
    font-family: Montserrat;
    font-size: 78.5px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 45px 0 36px 0;
}

.tagline {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 300;
    line-height: 2.47;
    text-align: center;
    color: #d4d4d4;
}

.header-buttons {
    display: flex;
    margin-top: 146px;
}

.btn {
    position: relative;
    font-family: Montserrat;
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 26px 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:after {
    position: absolute;
    content: " ";
    display: inline-block;
    height: 7px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    top: 0;
    left: 0;

}

.explore {
    background-color: var(--main-color);
    margin-right: 28px;
}

.purchase {
      background-color: var(--blue-color);
}

.hand-point {
    width: 58px;
    height: 97px;
    fill: var(--main-color);
}

.cards {
    display: flex;
}

.card {
    height: 374px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.card-1, .card-3 {
border-top: 7px solid var(--main-color);
}

.card-2, .card-4 {
border-top: 7px solid #fff;
}

.card-link {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 49px;
}

.card-2 .card-link {
    color: #fff;
    margin-top: 72px;
}

.card-4 .card-link {
    color: #fff;
    margin-top: 59px;
}

.card-1, .card-3 {
    background: var(--card-dark-color);
}

.card-2, .card-4 {
    background: var(--main-color);
}

.brilliant {
    width: 93px;
    height: 75px;
    fill: #ffffff;
}

.lamp {
    width: 60px;
    height: 96px;
    fill: var(--main-color);
}

.gadgets {
    width: 99px;
    height: 76px;
    fill: #ffffff;
}

.services, .breaking-news {
    padding-top: 82px;
}

.section-title {
    font-family: Montserrat;
    font-size: 36px;
    text-align: center;
    color: #4e4e4e;
    margin-bottom: 37px;
}

.separator {
    position: relative;
    border: none;
    width: 76px;
    height: 1px;
    background-color: var(--main-color);
    margin: 0 auto;
    overflow: visible;
}

.separator::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: var(--main-color);
    left: 5px;
    top: 4px ;

}

.services-block-menu {
    margin-top: 70px;
}

.services-menu, .work-menu {
    display: flex;
    justify-content: center;
}

.services-content .work-content {
    margin-top: 24px;
}

.work-content {
    margin-top: 74px;
}

.services-link, .work-link {
    flex: 2;
    padding: 30px 27px;
    font-family: Montserrat;
    font-size: 15.5px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EFF0F1;
    text-align: center;
    cursor: pointer;
}

.work-link {
    flex: inherit;
    justify-content: center;
}

.work-link-active {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

.services-link-active {
    position: relative;
    flex: 2;
    padding: 30px 27px;
    font-family: Montserrat;
    font-size: 15.5px;
    color: #FFF;
    background-color: var(--main-color);
    border: 1px solid #EFF0F1;
    text-align: center;
}

.services-link-active:after {
    top: 99%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: var(--main-color);
	border-width: 10px;
	margin-left: -10px;
}

.services-description{
    font-family: Montserrat;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 1.81;
    text-align: justify;
    color: #777777;
}

.services-card {
    display: flex;
    padding-top: 25px;
}

.services-img {
    margin-right: 20px;
    height: 144px;
}

.purchase-section {
    height: 476px;
    margin-top: 105px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../src/backgrounds/section-2.jpg);
    background-size: cover;
    background-position: center;
}

.purchase-section .wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.purchase-title {
    font-family: Montserrat;
    font-size: 40.5px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.purchase-description {
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    color: #d8d8d8;
    padding: 35px 0 76px 0;
}

.amazing-work {
    padding-top: 82px;
    border-bottom: 1px solid #edeff0;
    background-color: #f9fcfe;
}

.items-list {
margin-top: 71px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    flex-grow: inherit;
    width: 286px;
    height: 208px;
}

.item-1 {
    background-image: url(../src/graphic-design/graphic-design1.jpg);
}

.item-2 {
    background-image: url(../src/graphic-design/graphic-design2.jpg);
}

.item-3 {
    background-image: url(../src/graphic-design/graphic-design3.jpg);
}

.item-4 {
    background-image: url(../src/graphic-design/graphic-design4.jpg);
}

.item-5 {
    background-image: url(../src/graphic-design/graphic-design5.jpg);
}

.item-6 {
    background-image: url(../src/graphic-design/graphic-design6.jpg);
}

.item-7 {
    background-image: url(../src/graphic-design/graphic-design7.jpg);
}

.item-8 {
    background-image: url(../src/graphic-design/graphic-design8.jpg);
}

.item-9 {
    background-image: url(../src/graphic-design/graphic-design9.jpg);
}

.item-10 {
    background-image: url(../src/graphic-design/graphic-design10.jpg);
}

.item-11 {
    background-image: url(../src/graphic-design/graphic-design11.jpg);
}

.item-12 {
    background-image: url(../src/graphic-design/graphic-design12.jpg);
}

.item:hover .item-full {
    display: flex;
}

.item-13 {
    background-image: url(../src/web-design/web-design1.jpg);
}

.item-14 {
    background-image: url(../src/web-design/web-design2.jpg);
}

.item-15 {
    background-image: url(../src/web-design/web-design3.jpg);
}

.item-16 {
    background-image: url(../src/web-design/web-design4.jpg);
}

.item-17 {
    background-image: url(../src/web-design/web-design5.jpg);
}

.item-18 {
    background-image: url(../src/web-design/web-design6.jpg);
}

.item-19 {
    background-image: url(../src/web-design/web-design7.jpg);
}

.item-20 {
    background-image: url(../src/wordpress/wordpress1.jpg);
}

.item-21 {
    background-image: url(../src/wordpress/wordpress2.jpg);
}

.item-22 {
    background-image: url(../src/wordpress/wordpress3.jpg);
}

.item-23 {
    background-image: url(../src/wordpress/wordpress4.jpg);
}

.item-24 {
    background-image: url(../src/wordpress/wordpress5.jpg);
}

.item-full {
    display: none;
    /* flex: 2; */
    height: 208px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 4px solid var(--main-color);
}

.item-title {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    color: var(--main-color);
    margin-top: 34px;
}

.item-category {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
    margin-top: 14px;
}

.item-icon {
    border: 1px solid var(--main-color);
    padding: 18px;
    border-radius: 50%;
    color: var(--main-color);
    text-decoration: none;
}

.item-icon:hover {
    color:#fff;
    background-color: var(--main-color);
}

.icon-link::before {
    transform: scale(-1, 1);
}

.btn-load {
    position: relative;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 25px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    margin-top: 71px;
    margin-bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

.icon-plus {
    margin-right: 16px;
    font-weight: bold;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-cards a {
    text-decoration: none;
}

.news-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f9fcfe;
}

.news-date {
    position: absolute;
    font-family: Montserrat;
    font-size: 15.5px;
    padding: 10px 20px;
    background-color: #203e38;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    line-height: 1.65;
}

.news-image {
    width: 263px;
    height: 208px;
}

.news-card:hover .card-title {
    color: var(--main-color);

}

.news-card:hover .news-date {
    background-color: var(--main-color);
    
}

.card-title {
    font-family: Montserrat;
    font-size: 17.5px;
    font-weight: bold;
    color: #717171;
    padding: 14px 13px;
}

.news-details {
    padding-left: 17px;
    padding-bottom: 12px;
    font-family: Montserrat;
    font-size: 13.5px;
    font-weight: 300;
    color: #777777;
}

.news-separator {
    padding-left: 18px;
    padding-right: 18px;
}

.first-line {
    margin-top: 74px;
    margin-right: 28px;
}

.first-line:nth-child(4){
    margin-right: 0;
}

.second-line {
    margin-top: 45px;
    margin-right: 28px;
}

.second-line:last-child {
    margin-right: 0;
}

.testimonials {
    margin-top: 131px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/backgrounds/section-3.jpg);
    background-size: cover;
    background-position: 0% 70%;
    height: 852px;
}

.testimonials .section-title {
    color: #fff;
    padding-top: 100px;
}

.icon-quote-left {
    display: block;
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.slide-quote {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.88;
  text-align: center;
  color: #bbbbbb;
  margin-top: 44px;
}


.slide-name {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    margin-top: 43px;
    text-align: center;
    text-transform: uppercase;
}

.slide-position {
  display: block;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  color: #bbbbbb;
  margin-top: 18px;
  text-align: center;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 207, 171, .2);
    overflow: hidden;
    width: 164px;
    height: 163px;
    margin: 27px auto;
    border-radius: 50%;

}

.slider-img {
    overflow: hidden;
    width: 141px;
    height: 141px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.img-1 {
    background-image: url(../src/slider-img/Nastya.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-2 {
    background-image: url(../src/slider-img/Max.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-3 {
    background-image: url(../src/slider-img/caroline.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-4 {
    background-image: url(../src/slider-img/michael.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-5 {
    background-image: url(../src/slider-img/Jen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-nav {
    display: flex;
    width: 485px;
    margin: 0 auto;
}

.nav-wrapper{
    display: flex !important;
    width: 69px !important;
    height: 69px;
    align-items: center;
    justify-content: center;
    outline: none;
}

.nav-img {
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
}

.icon-angle-right, .icon-angle-left {
    display: flex;
    align-self: center;
    align-items: center;
    width: 31px;
    height: 31px;
    color: #bbbbbb;
    padding: 10px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}

.icon-angle-right:hover {
    color:#fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.icon-angle-left:hover {
    color:#fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.slider-nav .slick-current {
    bottom: 10px;
    position: relative;
}

.slider-nav .slick-current .nav-img {
    border: 1px solid var(--main-color)
}

.slick-slide {
    outline: none;
}

.gallery {
    margin-top: 98px;
}

.gallery-layout {
    margin: 75px auto 0 auto;
}

.gallery-item {
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.03);
}

.footer { 
    background-color: #22353f;
}

.copyrights {
    margin: 0 auto;
}

.footer-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
  text-align: center;
  padding: 47px 0;
}

.footer-ham {
    color: var(--main-color);
}